{% extends 'base.html' %}

{% load static %}

{% block user %}
  <!-- pageHeader -->
  <header id="header" class="pt-1 ">
    <div style="justify-content: space-between;padding: 10px;height:fit-content;align-items: center;" class="container-fluid d-flex ">
      <div style="height: 60px;">
          <a href="{% url 'register' %}">
            <img style="margin-bottom: -20px" src="{% static 'images/IMAGE.svg'%}" alt="Botanical" class="img-fluid">
          </a>
      </div>
      <div>
        <a style="text-decoration: none;float: right;" href="{% url 'login' %}">Log-In</a>
      </div>
    </div>
  </header>

  <div class="wrapper " style="margin: 10px auto">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <div >
          <h1>Change Password</h1>
        </div>
      </div>
      
      <!-- Login Form -->
      <form class="row" action='' method="POST">
        {% csrf_token %}
        <div style="margin: 0px auto">
          <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your
            mobile phone <b class="text-danger">+91 {{phone_number}}</b></span>
        </div>
          <div class="container">
        <input type="password" id="p_no" class="form-control col-6 mb-3" name="password" placeholder="New-password" style="margin:0px auto">
        <input type="password" id="p_no" class="form-control col-6 mb-3" name="password2" placeholder="Confirm-password" style="margin:0px auto">
        <input type="submit" class="fadeIn fourth col-10 mb-3" value="Submit">
        </div>      
      </form>
      <!-- Remind Passowrd -->


    </div>
  </div>

  {% endblock %}