{% extends 'base.html' %}

{% load static %}

{% block user %}
  <!-- pageHeader -->

  <div class="wrapper fadeInDown" style="margin: 100px auto">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <div style="">
          <h1>Change Password</h1>
        </div>
      </div>

      <!-- Login Form -->
      <form class="row" method="POST" action="{% url 'change_password_profile' user.id %}">
        {% csrf_token %}
          <div class="container">
        <input type="password" id="mail" class="fadeIn first col-8 mb-3" name="current_password" placeholder="Current-password">
        <input type="password" id="p_no" class="fadeIn second col-8 mb-3" name="password" placeholder="New-password">
        <input type="password" id="p_no" class="fadeIn third col-8 mb-3" name="password1" placeholder="Confirm-password">
        {% for x in messages %}
        <div class='col-8 mb-3'>
          <h3>{{x}}</h3>
        </div>
        {% endfor %}
        <input type="submit" class="fadeIn fourth col-10 mb-3" value="Submit">
        </div>      
      </form>

      <!-- Remind Passowrd -->


    </div>
  </div>
  {% endblock %}