{% extends 'base.html' %}

{% load static %}

{% block user %}
  <!-- pageHeader -->
  <header id="header" class="pt-1 ">
    <div style="justify-content: space-between;padding: 10px;height:fit-content;align-items: center;" class="container-fluid d-flex ">
      <div style="height: 60px;">
          <a href="">
            <img style="margin-bottom: -20px" src="{% static 'images/IMAGE.svg'%}" alt="Botanical" class="img-fluid">
          </a>
      </div>
      <div>
        <a style="text-decoration: none;float: right;" href="{% url 'login' %}">Log-In</a>
      </div>
    </div>
  </header>

  <div class="wrapper " style="margin: 10px auto">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <div >
          <h3>Enter existing Mobile Number</h3>
        </div>
      </div>
      
      <!-- Login Form -->
      <form class="row" action='' method="POST">
        {% csrf_token %}
          <div class="container">
        <input type="text" id="mobile" class=" col-8 mb-3" name="phone_number" placeholder="mobile_number" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
        {% for x in messages %}
        <h3 class="col-8 mb-3">{{x}}</h3>
        {% endfor %}
        <input type="submit" class="fadeIn fourth col-10 mb-3" value="Submit">
        </div>      
      </form>
      <!-- Remind Passowrd -->


    </div>
  </div>

  {% endblock %}