{% extends 'base.html' %}

{% load static %}

{% block user %}
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- header -->
		{% include "include/navbar.html" %}
		<!-- main -->
		<main style='margin:60px 0px 0px 0px'>
			<!-- introBannerHolder -->
			<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: {% static 'images/shop_image.jpg' %};">
				<div class="container">
					<div class="row">
						<div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
							<h1 class="headingIV fwEbold playfair mb-4">Shop</h1>
							<ul class="list-unstyled breadCrumbs d-flex justify-content-center">
								<li class="mr-2"><a href="{% url 'home'%}">Home</a></li>
								<li class="mr-2">/</li>
								<li class="active">Shop</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- twoColumns -->
			<div class="twoColumns container pt-lg-23 pb-lg-20 pt-md-16 pb-md-4 pt-10 pb-4">
				<div class="row">
					<div class="col-12 col-lg-9 order-lg-3">
						<!-- content -->
						<article id="content">
							<!-- show-head -->
							<header class="show-head d-flex flex-wrap justify-content-between mb-7">
								<ul class="list-unstyled viewFilterLinks d-flex flex-nowrap align-items-center">
									<li class="mr-2"><a href="javascript:void(0);" class="active"><i class="fas fa-th-large"></i></a></li>
									<li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-list"></i></a></li>
									<li class="mr-2"></li>
								</ul>
								<!-- sortGroup -->
								<div class="sortGroup">
									<div class="d-flex flex-nowrap align-items-center">
										<strong class="groupTitle mr-2">Sort by:</strong>
										<div class="dropdown">
											<button class="dropdown-toggle buttonReset" type="button" id="sortGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Default sorting</button>
											<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="sortGroup">
												<li><a href="javascript:void(0);">Default Order</a></li>
												<li><a href="javascript:void(0);">Default Order</a></li>
												<li><a href="javascript:void(0);">Default Order</a></li>
												<li><a href="javascript:void(0);">Default Order</a></li>
											</ul>
										</div>
									</div>
								</div>
							</header>
							<div class="row">
								<!-- featureCol -->
								
								<div class="col-12 mb-7">
									<div class="border">
										<div class="error-template text-center">
											<h1>
												Oops!</h1>
											<h2>
												No product found</h2>
											<div class="error-details">
												Sorry, an error has occured, Requested product was not found!
											</div>
											<!-- <div class="error-actions">
												<a href="http://www.jquery2dotnet.com" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
													Take Me Home </a><a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
											</div> -->
										</div>
									</div>
								</div>
								
								
								
							</div>
						</article>
					</div>
					<div class="col-12 col-lg-3 order-lg-1">
						<!-- sidebar -->
						<aside id="sidebar">
							<!-- widget -->
							<section class="widget overflow-hidden mb-9">
								<form action="javascript:void(0);" class="searchForm position-relative border">
									<fieldset>
										<input type="search" class="form-control" placeholder="Search product...">
										<button class="position-absolute"><i class="icon-search"></i></button>
									</fieldset>
								</form>
							</section>
							<!-- widget -->
							<section class="widget overflow-hidden mb-9">
								<h3 class="headingVII fwEbold text-uppercase mb-5">PRODUCT CATEGORIES</h3>
								<table class="table">
								  <thead class="thead-dark">
									<tr>
									  <th scope="col">Category</th>
									  <th scope="col">No:of Products</th>											
									</tr>
								  </thead>
								  <ul class="list-unstyled categoryList mb-0">									
									  <tbody>
										  <tr>
											  {% for categories in category %}								
										  <td>
											<a href="{% url 'category' categories.id %}">
												{{categories.category_name}}
											</a>
										</td>
											<td>{{categories.product_count}}</td>											
										  {% endfor %}
										</tr>										 
										</tbody>
									  </table>
								</ul>								
							</section>
							
							
						</aside>
					</div>
				</div>
			</div>
			
			
		</main>
		
	</div>
	{% endblock %}